#daily-bulletin {
  background-color: #ffc;
  border-bottom: solid 2px #ccc;
}
#daily-bulletin .bulletin-headlines {
  padding: 10px;
}
#daily-bulletin h3 {
  font-size: 1.2em;
  margin: 0 0 10px;
  font-weight: bold;
}
#daily-bulletin h3 a {
  text-decoration: none;
}
#daily-bulletin ul {
  list-style-type: square;
}
#daily-bulletin .morelink {
  padding: 0 10px;
}
